.link-header {
  text-decoration: none;
  padding: 5px;
  color: #dcdcdc;
}

.header-menu {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.name-user {
  color: #dcdcdc;
  text-align: center;
  display: flex;
  justify-content: center;
}

.logout {
  font-size: larger;
  margin-left: 20px;
}
